HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Questions ###
src/main/resources/asq
src/main/resources/di
src/main/resources/fib
src/main/resources/hcs
src/main/resources/hiw
src/main/resources/mcm
src/main/resources/mcs
src/main/resources/ra
src/main/resources/rfib
src/main/resources/rl
src/main/resources/rmcm
src/main/resources/rmcs
src/main/resources/ro
src/main/resources/rs
src/main/resources/rwfib
src/main/resources/smw
src/main/resources/sst
src/main/resources/swt
src/main/resources/we
src/main/resources/wfd
target/classes/asq
target/classes/di
target/classes/fib
target/classes/hcs
target/classes/hiw
target/classes/mcm
target/classes/mcs
target/classes/ra
target/classes/rl
target/classes/ro
target/classes/rs
target/classes/smw
target/classes/swt
target/classes/sst
target/classes/we
target/classes/wfd
target/classes/rmcm
target/classes/rmcs
target/classes/rfib
target/classes/rwfib


### Leave jar ###
target/
!*.jar
